<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=".static/css/App.css">
</head>
<body>

<header th:replace="~{/header/header :: headerFragment}"></header>
<!--todo : th:object랑 th:field 활용해야함. -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <header th:replace="~{/sidebar/sidebar :: sidebarFragment}"></header>

        <!-- main 나눔글 작성하기-->
        <main role="main" class="col-md-9 col-lg-10 px-md-4" style="margin-left: 200px">
        <div class = "container">
            <h2 class="mb-3 mt-3 text-center">나눔하겠습니다!</h2>
            <form action="/board/bookSearch" target="_blank" method="get">
            <div class="col-md-5 d-flex justify-content-between align-items-center ">
                바코드 입력
                <input type="text" name="text" class="form-control d-inline-block mx-1" placeholder="ISBN을 입력하세요" th:value="${param.isbn}">
                <button type="submit" class="btn btn-dark mx-1" style="width: 100px; white-space: nowrap;">검색</button>
            </div>
            </form>

<!--             이미지 파일을 업로드하기 위해 enctype을 multipart/form-data로 설정-->
<!--            <form th:action="@{/board/add}" th:object="${book}" method="post" enctype="multipart/form-data">-->

                <div>
                    <label for="title">도서 제목</label>
                    <input id="title" th:value="*{param.title}" class="form-control" readonly type="text">
                </div>

                <div>
                    <label for="pubdate">발행일자</label>
                    <input id="pubdate" th:value="*{param.pubdate}" class="form-control"  readonly type="text">
                </div>

                <div>
                    <label for="publisher">출판사</label>
                    <input id="publisher" th:value="*{param.publisher}" class="form-control" readonly type="text">
                </div>

                <div>
                    <label for="author">저자</label>
                    <input id="author" th:value="*{param.author}" class="form-control" readonly type="text">
                </div>

                <div>
                    <label for="description">책 소개</label>
                    <input id="description" th:value="*{param.description}" class="form-control" readonly type="text">
                </div>
                </form>

<!--                <div class="form-group">-->
<!--                    <label for="imageUpload">이미지 파일 선택</label>-->
<!--                    &lt;!&ndash; input 타입을 file로 설정하고, 파일을 여러 개 선택할 수 있도록 multiple 속성 추가 &ndash;&gt;-->
<!--                    <input type="file" class="form-control-file" id="imageUpload" name="image" accept="image/*" multiple>-->
<!--                </div>-->

                <div>
                    <label for="message">기부어의 한마디</label>
                    <input id="message" class="form-control" type="text">
                </div>

                <!-- 제출 버튼 -->
                <input type="submit" value="제출">
            </form>
        </div>
        </main>
<!--         Main-->
<!--        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">-->
<!--            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--                <h1 class="h2">Dashboard</h1>-->
<!--                <h1>TEST MAIN</h1>-->
<!--            </div>-->
<!--        </main>-->

    </div>
</div>


<footer th:replace="~{/footer/footer :: footerFragment}"></footer>
<script>
//javascript
function openWindowPop(url, name){
var options = 'top=10, left=10, width=500, height=600, status=no, menubar=no, toolbar=no, resizable=no';
window.open(url, name, options);
}
</script>
</body>
</html>
