<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book::search:result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/App.css">

</head>
<body>
<!-- header -->
<header th:replace="~{/header/header :: headerFragment}"></header>

<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <header th:replace="~{/sidebar/sidebar :: sidebarFragment}"></header>

        <!-- main 검색 결과 표시 -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="height: auto; min-height: 100%; margin-left: 200px; margin-bottom: 40px;">

        <div class="container">
            <h2 class="mb-3 mt-3 text-center">검색결과</h2>
            <!-- 검색 결과 표 -->
            <div class="table-responsive">
                <table class="table mb-3 mt-3 text-center" style="width: 100%; max-width: 100%;">
                <tr>
                    <th>이미지</th>
                    <th>ISBN</th>
                    <th>제목</th>
                    <th>저자</th>
                    <th>출판사</th>
                    <th>발행일</th>
                    <th>선택</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td><img th:src="${book.image}" th:id="image" th:alt="${book.image}" width="100"></td>
                    <td th:text="${book.isbn}" th:id="isbn" ></td>
                    <td><a th:text="${book.title}" th:name="title"></a></td>
                    <td th:text="${book.author}" th:name="author"></td>
                    <td th:text="${book.publisher}" th:name="publisher"></td>
                    <td th:text="${book.pubdate}" th:name="pubdate"></td>
                    <td>
                        <form th:action="@{/board/bookSearch}" th:object="${books}" th:method="post">
                        <button type="submit" class="btn btn-dark mx-1">선택</button>
                        <input type="hidden" name="title" th:value="${book.title}" />
                        <input type="hidden" name="isbn" th:value="${book.isbn}" />
                        <input type="hidden" name="image" th:value="${book.image}" />
                        <input type="hidden" name="author" th:value="${book.author}" />
                        <input type="hidden" name="publisher" th:value="${book.publisher}" />
                        <input type="hidden" name="pubdate" th:value="${book.pubdate}" />
                        <input type="hidden" name="description" th:value="${book.description}" />
                        </form>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        </main>
    </div>
</div>


<footer th:replace="~{/footer/footer :: footerFragment}"></footer>

</body>
</html>