<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<header th:replace="~{/header/header :: headerFragment}"></header>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
    <header th:replace="~{/sidebar/sidebar :: sidebarFragment}"></header>

        <!-- Main -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <h1>TEST MAIN</h1>
            </div>
        </main>

    </div>
</div>


<footer th:replace="~{/footer/footer :: footerFragment}"></footer>

</body>
</html>
