<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="~{header/header :: headerFragment}"></header>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <header th:replace="~{sidebar/sidebar :: sidebarFragment}"></header>

    <!-- Main -->
    <main role="main" class="col-md-9 col-lg-10 px-md-4" style="margin-left: 200px">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-danger text-white">
                경고
              </div>
              <div class="card-body">
                <p class="card-text">해당 페이지에 접근할 권한이 없습니다.</p>
                <a href="${ctxPath}/user/main" class="btn btn-dark d-block mx-auto">메인으로 돌아가기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
</div>

<footer th:replace="~{footer/footer :: footerFragment}"></footer>
</body>
</html>