<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/App.css">
</head>

<body>

<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar" th:fragment="sidebarFragment" style="background-color: #E2ECE2; position: fixed; height: 100%; width: 150px;">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/admin/" style="color: black; font-weight: bold;">유저목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/board" style="color: black; font-weight: bold;">나눔글 관리</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>
