<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/App.css">
</head>

<body>

<nav id="sidebar" class="col-md-3 col-lg-2 bg-light d-md-block sidebar" th:fragment="sidebarFragment" style="position: fixed; height: 100%; width: 150px;">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/board/new" style="color: black; font-weight: bold;">나눔하기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; font-weight: bold;">마이페이지</a>
                <a class="nav-link" href="/mypage/myInfor" style="color: black; font-weight: bold;">내정보</a>
                <a class="nav-link" href="/mypage/giveList" style="color: black; font-weight: bold;">Give</a>
                <a class="nav-link" href="/mypage/takeList" style="color: black; font-weight: bold;">Take</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>
