<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="content">
<head>
    <title>Detail</title>

    <style>
        hr {
            border: 2px solid #E2ECE2;
        }

        .custom-button {
            background-color: #E2ECE2;
            font-size: 18px;
            color: black;
            border: 2px solid #E2ECE2;
            width: 40%;
        }

        .custom-text-box {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
        <main role="main" class="ml-sm-auto px-md-4" style="height: auto; min-height: 100%; margin-bottom: 50px; display: flex; flex-direction: column;">
            <div class="main-container border rounded p-3 mt-2" style="flex: 1;">             <br>
            <h2 class="titles text-center">My Info</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">회원 정보</h4>
                            <p class="card-text"><strong>아이디:</strong> <span th:text="${user.usersId}"></span></p>
                            <p class="card-text"><strong>핸드폰 번호:</strong> <span th:text="${user.getPhone()}"></span></p>
                            <p class="card-text"><strong>닉네임:</strong> <span th:text="${user.nickName}"></span></p>
                            <p class="card-text"><strong>집 주소:</strong> <span th:text="${user.roadAddress + ', ' + user.detailAddress}"></span></p>
                            <p class="card-text"><strong>총 책갈피:</strong> <span th:text="${user.totalPoint}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <button class="btn custom-button">회원 정보 변경</button>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">책 갈피 이용 내역</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>책 제목</th>
                                <th>포인트</th>
                                <th>날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- user.pointHistoryList를 반복하여 데이터 표시 -->
                            <tr th:each="pointHistory : ${user.pointHistoryList}">
                                <td th:text="${pointHistory.transactions.books.title}"></td>
                                <td>
                                    <span th:if="${pointHistory.form == T(com.checkcheck.ecoreading.domain.pointHistory.entity.PointHistoryForm).PLUS}">+</span>
                                    <span th:if="${pointHistory.form == T(com.checkcheck.ecoreading.domain.pointHistory.entity.PointHistoryForm).MINUS}">-</span>
                                    <span th:text="${pointHistory.point}"></span>
                                </td>
                                <td th:text="${pointHistory.createdDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>