<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>유저관리</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/App.css">
</head>
<body>
<header th:replace="~{/header/header :: headerFragment}"></header>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <header th:replace="~{/sidebar/adminSidebar :: sidebarFragment}"></header>

        <!-- Main Content -->
        <main role="main" class="col-md-9 col-lg-10 px-md-4" style="margin-left: 200px">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">유저관리</h1>
            </div>
            <br>
            <div class="input-group">
                <button type="button" class="btn btn-outline-primary rounded-pill" style="color: black; border-color: #E2ECE2; background-color: #E2ECE2;" onclick="searchUsers('enabled')">활성화 계정 보기</button>
                <button type="button" class="btn btn-outline-primary rounded-pill" style="color: black; border-color: #E2ECE2; background-color: #E2ECE2;" onclick="searchUsers('disabled')">비활성화 계정 보기</button>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>사용자 ID</th>
                        <th>사용자 이메일</th>
                        <th>책갈피</th>
                        <th>사용자 상태</th>
                        <th>자세히 보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- usersList 반복 -->
                    <tr th:each="user : ${usersList}">
                        <td th:text="${user.usersId}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.totalPoint}"></td>
                        <td>
                            <span th:text="${user.enabled} ? '활성화 계정' : '비활성화 계정'"></span>
                        </td>
                        <td>
                            <a th:href="@{/admin/user/details/{userId}(userId=${user.usersId})}" class="btn btn-primary">자세히 보기</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{/footer/footer :: footerFragment}"></footer>

<script>
    function searchUsers(searchType) {
        // Set the URL based on the selected search type
        var url;
        if (searchType === 'enabled') {
            url = '/admin/search/user?enabled=true';
        } else if (searchType === 'disabled') {
            url = '/admin/search/user?enabled=false';
        }

        // Redirect to the constructed URL
        window.location.href = url;
    }
</script>

</body>
</html>
